<div class="well well-elk" id="resetPasswordContainer">
    <div  class="page-header">
        <h3>Forgot your password?</h3>
    </div>
    <div>
        <alert ng-repeat="alert in alerts" type="alert.type">{{alert.msg}}</alert>
        <form novalidate class="form-horizontal" ng-submit="resetPassword()" name="resetPasswordForm">

            <div class="form-group" ng-class="{'has-error':(submitted && !resetPasswordForm.email.$valid)}">
                <label class="control-label" for="email">Provide the email address associated with your account. An email will be sent to you with instructions on how to reset your password</label> 
                <div class="controls">
                    <input type="email" class="form-control input-lg" ng-model="auth.email" id="email" name="email" placeholder="your@email.address">
                    <span class="text-danger" ng-show="submitted && resetPasswordForm.email.$error.email">Provide a valid email address.</span>
                </div>
            </div>
            <div class="form-group text-center">
                <div class="controls"> 
                    <button class="btn btn-lg btn-primary" ng-touch="submitted=true" value="Reset" ng-disabled="!resetPasswordForm.email.$valid">Reset</button>  
                    <a class="btn btn-lg btn-success" ui-sref="noauth.login">Go back</a>            
                </div>
            </div>
        </form>

    </div>
</div>