<form novalidate name="generalVerificationForm" role="form">
	<fieldset> 
    	<legend>General Information</legend> 
    	<span class="help-block">We already filled out some information for you.</span>
    	<div class="form-group">
		    <label class="control-label">Email</label>
		    <div class="">
		      <p class="form-control-static">{{dwolla.phoneNumber}}</p>
		    </div>
	  	</div>
    	<div class="form-group"  ng-class="{'has-error':( generalVerificationForm.email.$invalid && submitting)}">  
			<label class="control-label" for="email">Email</label>   
			<input type="text" required class="form-control input-lg" id="userName" ng-model="dwolla.email" name="email"> 
			<span class="text-danger" ng-show="(generalVerificationForm.email.$error.required && generalVerificationForm.userName.$dirty) || (generalVerificationForm.userName.$error.required && submitting)">Please provide a valid email address.</span> 
			
		</div>
		<div class="form-group">
            <label class="control-label" for="dwollaPassword">Dwolla Password:</label>              
            <input type="password" class="form-control input-xlg" ng-model="user.dwolla.password" id="dwollaPassword" name="password" placeholder="Password">
     
        </div>
        <span class="help-block">This the password for your new Dwolla account. It must be different from your Elikya password. It should include least 8 characters containing at least 1 upper case letter, at least 1 lower case letter, and at least 1 number.</span>
        <div class="form-group" ng-class="{'has-error':(!generalVerificationForm.verifyPassword.$valid && registerForm.verifyPassword.$dirty )}">
            <!-- <label class="control-label" for="registerPage_password">Confirm Your Password:</label> -->
                <input type="password" class="form-control input-xlg" ng-model="user.verifyPassword" id="verifyPassword" name="verifyPassword" ui-validate=" '$value==dwolla.password' " ui-validate-watch="'dwolla.password'" placeholder="Confirm your password">
                <span class="text-danger" ng-show="generalVerificationForm.verifyPassword.$error.validator && registerForm.verifyPassword.$dirty"><span class="label label-danger">Error</span>&nbsp;Your passwords do not match!</span>
        </div>
		

		<div class="form-group" ng-class="{'has-error': generalVerificationForm.firstName.$invalid && submitting}">  
			<label class="control-label" for="firstName">First Name</label>  
			<div class="controls">  
				<input type="text" required class="form-control input-lg" id="firstName"  name="firstName" ng-model="profile.first_name">  
				<span class="text-danger" ng-show="(generalVerificationForm.firstName.$error.required && generalVerificationForm.firstName.$dirty) || (generalVerificationForm.firstName.$error.required && submitting) ">Please provide your first name.</span> 
			</div>  
		</div>
		<div class="form-group">  
			<label class="control-label" for="minitial">M.I</label> 
			<div class="row"> 
				<div class="controls col-xs-4">  
					<input type="text"  class="form-control " id="minitial"  name="minitial" ng-model="profile.middle_initial" maxlength="1">
				</div>			
			</div>  
			<span class="help-block">If you have one, please provide your middle initial</span>  	
		</div>
		<div class="form-group" ng-class="{'has-error':( generalVerificationForm.lastName.$invalid && submitting)}">  
			<label class="control-label" for="lastName">Last Name</label>  
			<div class="controls">
				<input type="text" required class="form-control input-lg" id="lastName" name="lastName" ng-model="profile.last_name"> 
				<span class="text-danger" ng-show="(generalVerificationForm.lastName.$error.required && generalVerificationForm.lastName.$dirty)||(generalVerificationForm.lastName.$error.required && submitting)">Please provide your last name</span>  
			</div>  
		</div> 
	</fieldset>  
</form>
<div>
	<div>
		<button class="btn btn-lg" ng-show="showBackButton" ng-click="back()">{{backButtonLabel}}</button>
		<button class="btn btn-primary btn-lg" ng-click="next(generalVerificationForm)">{{nextButtonLabel}}</button>
	</div>
</div>
